plantilla_n8n.json
{
  "nodes": [
    {
      "parameters": {
        "path": "rag-chat-agent",
        "options": {
          "noResponseBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "ca7cf43e-2a8a-47de-91e6-eebcfde53362",
      "name": "🎯 Webhook - Entrada del Chat",
      "notes": "Punto de entrada para las preguntas del usuario desde el frontend"
    },
    {
      "parameters": {
        "jsCode": "// 🔧 NODO 2: GENERAR EMBEDDING DE LA PREGUNTA\n// Este nodo toma la pregunta del usuario y genera su embedding usando OpenAI\n\n// Obtener la pregunta del webhook\nconst pregunta = $input.first().json.body.pregunta;\n\nif (!pregunta) {\n  throw new Error('❌ No se recibió una pregunta válida');\n}\n\nconsole.log('📝 Pregunta recibida:', pregunta);\n\n// Configuración de OpenAI\nconst openaiApiKey = $env.OPENAI_API_KEY;\nif (!openaiApiKey) {\n  throw new Error('❌ OPENAI_API_KEY no está configurada en las variables de entorno');\n}\n\n// Función para generar embedding\nasync function generarEmbedding(texto) {\n  const response = await $http.request({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/embeddings',\n    headers: {\n      'Authorization': `Bearer ${openaiApiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      model: 'text-embedding-3-small',\n      input: texto\n    }\n  });\n  \n  if (response.status !== 200) {\n    throw new Error(`❌ Error en OpenAI API: ${response.status} - ${response.statusText}`);\n  }\n  \n  return response.data.data[0].embedding;\n}\n\n// Generar el embedding\nconst embedding = await generarEmbedding(pregunta);\n\nconsole.log('✅ Embedding generado correctamente');\nconsole.log('📊 Dimensiones del embedding:', embedding.length);\n\n// Devolver los datos para el siguiente nodo\nreturn {\n  pregunta: pregunta,\n  embedding: embedding,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "embed-generator-node",
      "name": "🧠 Generar Embedding",
      "notes": "Convierte la pregunta del usuario en embedding usando OpenAI"
    },
    {
      "parameters": {
        "jsCode": "// 🔍 NODO 3: BÚSQUEDA EN PINECONE\n// Este nodo busca contenido relevante en la base de datos vectorial usando el embedding\n\n// Obtener datos del nodo anterior\nconst { pregunta, embedding } = $input.first().json;\n\nconsole.log('🔍 Iniciando búsqueda en Pinecone para:', pregunta);\n\n// Configuración de Pinecone\nconst pineconeApiKey = $env.PINECONE_API_KEY;\nconst pineconeEnvironment = $env.PINECONE_ENVIRONMENT;\nconst pineconeIndexName = $env.PINECONE_INDEX_NAME;\n\nif (!pineconeApiKey || !pineconeEnvironment || !pineconeIndexName) {\n  throw new Error('❌ Variables de Pinecone no configuradas: PINECONE_API_KEY, PINECONE_ENVIRONMENT, PINECONE_INDEX_NAME');\n}\n\n// Construir URL de Pinecone\nconst pineconeUrl = `https://${pineconeIndexName}-${pineconeEnvironment}.svc.pinecone.io/query`;\n\n// Función para buscar en Pinecone\nasync function buscarEnPinecone(queryEmbedding, topK = 5) {\n  const response = await $http.request({\n    method: 'POST',\n    url: pineconeUrl,\n    headers: {\n      'Api-Key': pineconeApiKey,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      vector: queryEmbedding,\n      topK: topK,\n      includeMetadata: true,\n      includeValues: false\n    }\n  });\n  \n  if (response.status !== 200) {\n    throw new Error(`❌ Error en Pinecone API: ${response.status} - ${response.statusText}`);\n  }\n  \n  return response.data;\n}\n\n// Realizar búsqueda\nconst resultadosBusqueda = await buscarEnPinecone(embedding, 5);\n\n// Extraer contexto relevante\nconst matches = resultadosBusqueda.matches || [];\nconst contexto = matches\n  .filter(match => match.score > 0.7) // Solo matches con alta similitud\n  .map(match => match.metadata?.text || '')\n  .filter(text => text.length > 0)\n  .join('\\n\\n');\n\nconsole.log('📋 Contexto encontrado:');\nconsole.log(`   - Matches encontrados: ${matches.length}`);\nconsole.log(`   - Matches relevantes: ${matches.filter(m => m.score > 0.7).length}`);\nconsole.log(`   - Longitud del contexto: ${contexto.length} caracteres`);\n\nif (contexto.length === 0) {\n  console.log('⚠️  No se encontró contexto relevante');\n}\n\n// Devolver datos para el siguiente nodo\nreturn {\n  pregunta: pregunta,\n  contexto: contexto,\n  matches: matches,\n  numeroResultados: matches.length,\n  tieneContexto: contexto.length > 0\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "pinecone-search-node",
      "name": "🔍 Búsqueda en Pinecone",
      "notes": "Busca información relevante en la base de datos vectorial"
    },
    {
      "parameters": {
        "jsCode": "// 🤖 NODO 4: GENERAR RESPUESTA CON OPENAI\n// Este nodo construye el prompt final y genera la respuesta usando GPT\n\n// Obtener datos del nodo anterior\nconst { pregunta, contexto, tieneContexto, numeroResultados } = $input.first().json;\n\nconsole.log('🤖 Generando respuesta para:', pregunta);\nconsole.log('📚 Contexto disponible:', tieneContexto);\n\n// Configuración de OpenAI\nconst openaiApiKey = $env.OPENAI_API_KEY;\nif (!openaiApiKey) {\n  throw new Error('❌ OPENAI_API_KEY no está configurada');\n}\n\n// Construir el prompt según si hay contexto o no\nlet promptFinal;\n\nif (tieneContexto) {\n  promptFinal = `Eres un asistente inteligente que responde preguntas basándose en documentos procesados.\n\nCONTEXTO RELEVANTE:\n${contexto}\n\nPREGUNTA DEL USUARIO:\n${pregunta}\n\nINSTRUCCIONES:\n- Responde únicamente basándote en el contexto proporcionado\n- Si la información no está en el contexto, di que no tienes esa información específica\n- Sé claro, conciso y útil\n- Usa un tono profesional pero amigable\n- Si es apropiado, cita partes relevantes del documento\n\nRESPUESTA:`;\n} else {\n  promptFinal = `Eres un asistente inteligente para un sistema RAG (Retrieval-Augmented Generation).\n\nPREGUNTA DEL USUARIO:\n${pregunta}\n\nNo se encontró información relevante en los documentos procesados para responder a esta pregunta específica.\n\nPor favor, responde de manera educada explicando que:\n1. No se encontró información relevante en los documentos disponibles\n2. Sugiere reformular la pregunta o verificar que el documento correcto haya sido procesado\n3. Mantén un tono profesional pero amigable\n\nRESPUESTA:`;\n}\n\n// Función para llamar a OpenAI GPT\nasync function generarRespuestaGPT(prompt) {\n  const response = await $http.request({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      'Authorization': `Bearer ${openaiApiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      model: 'gpt-4o-mini', // Modelo eficiente y económico\n      messages: [\n        {\n          role: 'user',\n          content: prompt\n        }\n      ],\n      max_tokens: 500,\n      temperature: 0.7,\n      top_p: 1,\n      frequency_penalty: 0,\n      presence_penalty: 0\n    }\n  });\n  \n  if (response.status !== 200) {\n    throw new Error(`❌ Error en OpenAI API: ${response.status} - ${response.statusText}`);\n  }\n  \n  return response.data.choices[0].message.content.trim();\n}\n\n// Generar la respuesta\nconst respuestaFinal = await generarRespuestaGPT(promptFinal);\n\nconsole.log('✅ Respuesta generada correctamente');\nconsole.log('📝 Longitud de la respuesta:', respuestaFinal.length, 'caracteres');\n\n// Preparar respuesta final para el webhook\nconst respuestaCompleta = {\n  respuesta: respuestaFinal,\n  metadata: {\n    pregunta: pregunta,\n    tieneContexto: tieneContexto,\n    numeroResultados: numeroResultados,\n    timestamp: new Date().toISOString(),\n    modelo: 'gpt-4o-mini'\n  }\n};\n\nreturn respuestaCompleta;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "id": "openai-response-node",
      "name": "🤖 Generar Respuesta GPT",
      "notes": "Crea el prompt final y genera la respuesta usando OpenAI"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        300
      ],
      "id": "c6b648a2-d9c0-4860-80cd-5e623175a027",
      "name": "📤 Responder al Chat",
      "notes": "Devuelve la respuesta final al frontend con headers CORS"
    }
  ],
  "connections": {
    "🎯 Webhook - Entrada del Chat": {
      "main": [
        [
          {
            "node": "🧠 Generar Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Generar Embedding": {
      "main": [
        [
          {
            "node": "🔍 Búsqueda en Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Búsqueda en Pinecone": {
      "main": [
        [
          {
            "node": "🤖 Generar Respuesta GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Generar Respuesta GPT": {
      "main": [
        [
          {
            "node": "📤 Responder al Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCreationSource": "n8n_agent_rag_chat",
    "instanceId": "8445ee8fb1232b8fb10ebac704619d5ec8c5d77a6bf0cb1d173277b89a3cde54",
    "description": "🤖 Agente RAG completo para chat inteligente con documentos PDF. Procesa preguntas, busca en Pinecone y genera respuestas contextuales.",
    "name": "Agent POL - RAG Chat System"
  }
}